

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
html,body{
	height:100%;
}

body { 
	background: url(../img/background.jpg) no-repeat center center fixed; 
}

a {
	color: #72b42d;
	font-weight: bold;
}

a:hover{
	color: #e6b900;
}

a.avatar{
	display: block;
}

.avatar{
	float: right;
	max-height: 48px;
	max-width: 48px;

	padding: 1px;
	margin: 1px;
	margin-top: -14px;
	margin-left: 5px;
}

.jumbotron{
	background: none;
	color: white;
}

.jumbotron-custom {
	min-height: 100vh;
	/*text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;*/
}

.jumbotron-container-container{
	padding-bottom: 30px;
}

.container-custom{
	min-height: 100%;
	
}

.logo{
	background: #fcfcfc;
	margin-left: auto;
	margin-right: auto;
}

.patron{
	/*max-width: 300px;*/
	background: #fcfcfc;
}

.patron:hover{
	border: #57a957 1px solid;
	background: #eeeeee;
}

.page-scroll-100{
	position: absolute;
	display: block;
	margin-top: -100px;
	padding-top: 100px;
}

.row-custom{
	padding-bottom: 20px;
	margin-top: 100px;
}

.container-first{
	margin-top: 48px;
}
/*#recent_events{
	margin-bottom: 25%;
}*/

.light-grey{
	background: url(../img/light-grey.png) repeat;
}

.dark-grey{
	background: url(../img/dark-grey.png) repeat;
}

.very-dark-grey{
	background: url(../img/very-dark-grey.png) repeat;
}

.border-round-5{
	border-radius: 5px;
}

.padding-top-5{
	padding-top: 5px;
}

h1, h2, h3, h4, h5, p, label{
	/*font-weight: 600;*/
	color: white;
}

p{
	font-size: 16px;
}

footer{
	padding-top: 20px;
	text-align: center;
}

.event-container{
	padding-bottom: 20px;
}

.event-single p{
	font-size: 18px;
}

.contact-list{
	color: white;
}

.test-color{
	background-color: yellow;
}

.pull-nav-right{
	float: right;
}

.summernote-text-editor{
	background-color: #444;
	color: white;
}

.note-editable{
	min-height: 40px;
}

.book-table{
	color: white;
}

.book-link{
	color: white;
}

.book-link:hover{
	color: #57a957;
}

.book-image{
	border: 2px solid;
	border-color: #dcdcdc;
	border-radius: 15px 5px;
}

.book-image, .book-infopanel{
	padding-top: 10px;
}

.text-large{
	font-size: 22px;
}

.text-medium{
	font-size: 12px;
}

.songbook-song-link{
	color: white;
}

.song-lyrics *{
	color: white;
}

.song-lyrics table{
	margin-left: auto;
    margin-right: auto;
}

@media (max-width : 767px) {
	.pull-nav-right{
		float: none;
	}

	.avatar{
		float: right;
		max-height: 43px;
		max-width: 43px;

		padding: 1px;
		margin: 1px;
		margin-top: -11px;
		margin-left: 5px;
	}
}


/* ==========================================================================
   Text editor sorting
   ========================================================================== */
.summernote-text-editor * label, .summernote-text-editor * h4{
	color: black;
}

.texteditor-custom *{
	font-weight: normal;
}

/* ==========================================================================
   Table sorting
   ========================================================================== */
table.tablesorter {
/*	font-family:arial;
	background-color: #CDCDCD;
	margin:10px 0pt 15px;
	font-size: 8pt;
	width: 100%;
	text-align: left;*/
}
table.tablesorter thead tr th, table.tablesorter tfoot tr th {
	/*background-color: #e6EEEE;*/
/*	border: 1px solid #FFF;
	font-size: 8pt;
	padding: 4px;*/
}
table.tablesorter thead tr .header {
	background-image: url(../img/bg.gif);
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
}
table.tablesorter tbody td {
/*	color: #3D3D3D;
	padding: 4px;
	background-color: #FFF;
	vertical-align: top;*/
}
table.tablesorter tbody tr.odd td {
	/*background-color:#F0F0F6;*/
}
table.tablesorter thead tr .headerSortUp {
	background-image: url(../img/desc.gif);
}
table.tablesorter thead tr .headerSortDown {
	background-image: url(../img/asc.gif);
}
table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
	/*background-color: #8dbdd8;*/
}

/* ==========================================================================
   Carousel
   ========================================================================== */
.carousel .carousel-control {
	visibility: hidden; 
}

.carousel:hover .carousel-control { 
	visibility: visible; 
}