

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
html,body{
	height:100%;
}

body { 
	background: url(../img/background.jpg) no-repeat center center fixed; 
}

.jumbotron {
	min-height: 100vh;
	background: none;
	color: white;
	/*text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;*/
}

.jumbotron-container-container{
	padding-bottom: 30px;
}

.container-custom{
	min-height: 100%;
}

.logo{
	background: #fcfcfc;
	margin-left: auto;
	margin-right: auto;
}

.patron{
	/*max-width: 300px;*/
	background: #fcfcfc;
}

.patron:hover{
	border: #57a957 1px solid;
	background: #eeeeee;
}

.row-custom{
	padding-bottom: 20px;
	margin-top: 100px;
}

/*#recent_events{
	margin-bottom: 25%;
}*/

.light-grey{
	background: url(../img/light-grey.png) repeat;
}

.dark-grey{
	background: url(../img/dark-grey.png) repeat;
}

h1, h2, h3, h4, h5, p{
	font-weight: 600;
	color: white;
}

footer{
	padding-top: 20px;
	text-align: center;
}














