

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
html,body{
	height:100%;
}

body { 
	background: url(../img/background.jpg) no-repeat center center fixed; 
}

a.avatar{
	display: block;
}

.avatar{
	float: right;
	max-height: 48px;
	max-width: 48px;

	padding: 1px;
	margin: 1px;
	margin-top: -14px;
	margin-left: 5px;
}

.jumbotron{
	background: none;
	color: white;
}

.jumbotron-custom {
	min-height: 100vh;
	/*text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;*/
}

.jumbotron-container-container{
	padding-bottom: 30px;
}

.container-custom{
	min-height: 100%;
}

.logo{
	background: #fcfcfc;
	margin-left: auto;
	margin-right: auto;
}

.patron{
	/*max-width: 300px;*/
	background: #fcfcfc;
}

.patron:hover{
	border: #57a957 1px solid;
	background: #eeeeee;
}

.row-custom{
	padding-bottom: 20px;
	margin-top: 100px;
}

/*#recent_events{
	margin-bottom: 25%;
}*/

.light-grey{
	background: url(../img/light-grey.png) repeat;
}

.dark-grey{
	background: url(../img/dark-grey.png) repeat;
}

h1, h2, h3, h4, h5, p, label{
	font-weight: 600;
	color: white;
}

p{
	font-size: 16px;
}

footer{
	padding-top: 20px;
	text-align: center;
}

.event-container{
	padding-bottom: 20px;
}

.event-single p{
	font-size: 18px;
}

.contact-list{
	color: white;
}

.test-color{
	background-color: yellow;
}

.pull-nav-right{
	float: right;
}


@media (max-width : 767px) {
	.pull-nav-right{
		float: none;
	}

	.avatar{
		float: right;
		max-height: 43px;
		max-width: 43px;

		padding: 1px;
		margin: 1px;
		margin-top: -11px;
		margin-left: 5px;
	}
}


